nav {
  background-color: $dark-blue;
  overflow: hidden;
  padding: 1em;
}

.navWide {
  display: flex;
  justify-content: space-between;
}

.navMobile {
  display: flex;
  justify-content: space-between;

  &__ul {
    display: none;

    &--open {
      display: block;
    }
  }

  &__li {
    display: flex;
  }
}
