@import url('https://fonts.googleapis.com/css?family=Raleway:500|Source+Sans+Pro"');

html {
  font-size: 100%;
}

body,
p {
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 1em;
}
h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro", sans-serif;
}
