//Normalize
@import "../node_modules/node.normalize.scss/normalize";

//Remove default css

html,
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

// Helpers
@import "./style/helpers/_breakpoints.scss";
@import "./style/helpers/_color.scss";
@import "./style/helpers/_typography.scss";

//components

@import "./style/components/_navbar.scss";
